.container {
    display: grid;
    height: 20vh;
    width: 50%;
    background-color: antiquewhite;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
    margin-bottom: 2em;
}
.item {
    border: 1px solid black;
}

.auto-fit {
    display: grid;
    height: 20vh;
    background-color: antiquewhite;
    width: 50%;
    margin-bottom: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.container-1 {
    display: grid;
    height: 20vh;
    width: 50%;
    background-color: antiquewhite;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2em;
}
.container-2 {
    display: grid;
    height: 20vh;
    width: 50%;
    background-color: antiquewhite;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2em;
}
.container-2 .item-1 {
    grid-column: span 2;
    grid-row: span 2;
}
.last {
    grid-column: auto/-1;
}
