body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.loader {
    border: 10px solid rgb(163, 162, 162);
    border-top: 10px solid blue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 194, 195, 0.468);
    width: 300px;
    height: 400px;
}
.heading {
    width: 70%;
    height: 30px;
    margin-bottom: 3em;
}
.content {
    width: 70%;
    height: 10px;
    margin-bottom: 1em;
    border-radius: 3em;
}

@keyframes skeleton {
    0% {
        background-color: rgba(103, 103, 103, 0.048);
    }
    100% {
        background-color: rgba(117, 116, 116, 0.17);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes slide {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes shake {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@media (prefers-reduced-motion: no-preference) {
    .visible {
        animation: slide 1s linear;
    }
    svg:hover {
        animation: shake 500ms linear infinite;
    }
    .skeleton {
        background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        );
        animation: skeleton 1s linear infinite alternate;
    }
    .loader {
        animation: rotate 1s linear infinite;
    }
}
